<h1>Welcome to Playlister!</h1>

<h3><a href="/songs">View All Songs</a></h3>
<h3><a href="/songs/new">Add A New Song</a></h3>
<h3><a href="/artists">View All Artists</a></h3>
<h3><a href="/genres">View All Genres</a></h3>
<br>
<br>
<>